<mat-toolbar color="primary">
  <span class="logo">E‑Kata</span>
  <span class="spacer"></span>

  <a mat-button routerLink="/shop">Tienda</a>
  <button mat-icon-button routerLink="/cart">
    <mat-icon>shopping_cart</mat-icon>
    <span class="badge" *ngIf="cartCount$ | async as c">{{ c }}</span>
  </button>

  <button mat-button *ngIf="!(auth.loggedIn$ | async)" routerLink="/auth/login">
    Login
  </button>
  <button mat-button *ngIf="auth.loggedIn$ | async" (click)="auth.logout()">
    Salir
  </button>
</mat-toolbar>
