<form (ngSubmit)="onSubmit()" #productForm="ngForm">
  <div>
    <label>Nombre:</label>
    <input type="text" name="name" [(ngModel)]="nuevoProducto.name" required />
  </div>
  <div>
    <label>Precio:</label>
    <input
      type="number"
      name="price"
      [(ngModel)]="nuevoProducto.price"
      required
    />
  </div>
  <div>
    <label>Descripción:</label>
    <textarea
      name="description"
      [(ngModel)]="nuevoProducto.description"
    ></textarea>
  </div>
  <button type="submit" [disabled]="productForm.invalid">Crear Producto</button>
</form>
